<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TApp Mobile Automation" >
    <listeners>
        <listener class-name="Utility.Listeners.TestListener"></listener>
    </listeners>
    <test name="LoginTest">
        <classes>
            <class name="Runner.TestngRunner"/>
        </classes>
    </test>
</suite>